.removeButton{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.1em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;}

.removeButton:hover{
    background-color:#4095c6;
}

.todo {
    align-items: center;
    background: white;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    margin-bottom: 6px;

    padding: 3px 10px;
}