.App {
    background-image: url(./images/desk2.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  text-align: center;
    height: 100vh;
    padding: 30px;
}

.todo-list {
  display: contents;
  background: white;
  border-radius: 20px;
  max-width: 400px;
  padding: 5px;
}
